th {
    border: groove;
    border-width: 5;
    border-color: ghostwhite;
    padding: 3px;
    margin: auto;
        }

td {
    border: groove;
    border-width: 5;
    border-color: ghostwhite;
    padding: 3px;
    margin: auto;
        }